* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}
.navbar {
  background-color: white !important;
}

.nav-link {
  color: #acaaaa !important;
  font-weight: 500;
}

.title-size {
  font-size: 25px;
  color: #3a3d42;
}

.list {
  background-color: #f0f2f5 !important;
  color: #acaaaa;
  font-size: 20px;
  margin-bottom: 1rem;
  margin-left: -1.5rem;
  border: none;
  border-radius: 3rem;
}

.categories-aktif {
  color: #3a3d42;
}

.list:hover {
  background-color: #1b42de !important;
  color: white;
}

.link:hover {
  color: #3252c9 !important;
  font-weight: bold;
}
